@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');


*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Da 2', cursive;
  }
  
  
  
  input, .sbtn{
    border:none;
    outline: none;
    background: none;
  }
  
  .testimonial{
    background-color: #189047;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23189047' stroke-width='44.1' stroke-opacity='0' %3E%3Ccircle fill='%23189047' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23008a52' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2300835c' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23007b65' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300746d' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23006c73' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23006477' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23005b79' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23005378' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23004a76' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23004170' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23003869' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23002f60' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23002655' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23111d49' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%231c153d' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23200b30' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
  
  
  h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  label{
    display: block;
    width: auto;

    margin: 25px auto 0;
    text-align: center;
  }
  
  label span{
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
  }
  
  input{
    
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family: 'Nunito', sans-serif; 
  }
  
  .sbtn{
    
 margin: auto;
    width: 260px;
    height: 36px;
    border-radius: 20px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
  }
  
  .submit{

    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(left, #7bd39f, #189047);
  }
  
  .submit:hover{
    background: -webkit-linear-gradient(left, #24ef79, #189047);
  }
  
  .forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
  }
  
  .forgot-pass:hover{
    color: red;
  }
  
  .social-media{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .social-media ul{
    list-style: none;
  }
  
  .social-media ul li{
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
  }
  
  .social-media img{
    width: 40px;
    height: 40px;
  }
  
  .sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
  }
  
  .cont.s-signup .sub-cont{
    -webkit-transform:translate3d(-640px, 0, 0);
            transform:translate3d(-640px, 0, 0);
  }
  
  .img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
  }
  
  .img:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
   
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
  }
  
  .cont.s-signup .img:before{
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }
  
  .img-text h2{
    margin-bottom: 10px;
    font-weight: normal;
  }
  
  .img-text p{
    font-size: 14px;
    line-height: 1.5;
  }
  
  .cont.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
  }
  
  .img-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
  }
  
  .cont.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
            transform:translateX(0);
  }
  
  
  .sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
            transition-timing-function:ease-out;
  }
  
  .cont.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
            transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
            transition-duration:1.2s; 
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);
  }
  
  .img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
  }
  
  .img-btn:after{
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
  }
  
  .img-btn span{
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
  }
  
  .img-btn span.m-in{
    -webkit-transform:translateY(-72px);
            transform:translateY(-72px);
  }
  
  .cont.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(0);
            transform:translateY(0);
  }
  
  .cont.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
            transform:translateY(72px);
  }
  
  .sign-up{
    -webkit-transform:translate3d(-900px, 0, 0);
            transform:translate3d(-900px, 0, 0);
  }
  
  .cont.s-signup .sign-up{
    -webkit-transform:translate3d(0, 0, 0);
            transform:translate3d(0, 0, 0);
  }